.div_map{
    display: flex;
    align-items: center;
    justify-content: center;
}

.map{
    margin: auto;
    margin-bottom: 2em;
    border-radius: 10px;
}

main{
    font-family: "Chunk Rethunk";
    color : #95E5F5;
}

.text{
    margin-top: 1.5em;
    margin-left: 9.5em;
}

.localisation{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.txt_map_pro, .txt_map_part{
    margin-left: 8.5em;
    margin-top: 1.5em;
    font-size: 1.5em;
}

@media screen and (max-width:1280px){
    .txt_map_pro, .txt_map_part{
        margin-left: 4.5em
    }
}

@media screen and (max-width:1150px){
    .txt_map_pro, .txt_map_part{
        margin-left: 2.5em
    }
}
