footer{
    color: white;
    background-color: #95E5D5;
    display: flex;
    align-items: center;
    bottom: 0;
    font-family: 'Chunk Rethunk';
}

.contact2, .webmaster, .réseaux{
    display: inline-flex;
    margin: auto;
    padding: auto;
}

.contact2, .webmaster{
    border-right: .25em solid white;
}