footer{
    color: white;
    background-color: #95E5F5;
    align-items: center;
    bottom: 0;
    font-family: 'Chunk Rethunk';
}

.contact, .webmaster, .réseaux{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 110px;
}

.contact, .webmaster{
    border-right: .25em solid white;
}

.a_contact{
    text-decoration: none;
    color: white;
}

.a_contact:hover{
    text-decoration: none;
    color: white;
    background-color: #A6BDF5;
    padding: 1.5em
}

.names{
    list-style: none;
    padding-top: .5em;
    padding-bottom: .5em;
}

@media screen and (max-width: 900px){
    .contact, .webmaster, .réseaux{
        display: flex;
        width: 100%;
    }

    .contact, .webmaster{
        border-right: none;
        border-bottom: .25em solid white;
    }
}
