header{
    background-color: #95E5F5;
    color: white;
    display: flex;
    align-items: center;
    top: 0;
    font-family: 'Chunk Rethunk';
    height: 5em;
}

nav{
    text-align: center;
    display: inline-flex;
    margin-left: 3em;
    width: 75%;
    height: 100%;
    background-size: cover;
}

.logo{
    display: inline-block;
    margin-left: 1em;
    margin-top: .5em;
}

.Accueil, .Professionels, .Particuliers, .Valeurs, .Contact1{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-left: 6em;
    color: white;
    text-decoration: none;
}

.Accueil p, .Professionels p, .Particuliers p{
    padding-top: auto;
    padding-bottom: auto;
}

.Accueil:hover, .Professionels:hover, .Particuliers:hover, .Valeurs:hover, .Contact1:hover{
    background-color: #A6BDF5;
    text-decoration: none;
    color: white;
}
header .container-fluid a{
    padding: 2em 0;
    background-color: #95E5F5;
    color: white;
    
 
}
header .container-fluid{
    z-index: 2;
}
    
header .container-fluid a:hover{
    background-color: #A6BDF5;
}


.navbar-light .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
}
header .container-fluid,header .container-fluid a,header .container-fluid li,header .container-fluid ul,header .container-fluid div{
    height: 100%;
}
header .container-fluid ul,header .container-fluid li,header .container-fluid a{
    width:100%;
 
}

.navbar-collapse.collapse.show a:hover{
    background-color: #A6BDF5;
}
.navbar-collapse.collapse.show a{
    padding: 0.5em 0;
    background-color: #8EF5CF;
    
    
}

nav.navbar{
    padding: 0;
}