main{
    display: flex;
    align-items: center;
}

main div{
    border-radius: 2px;
    margin: 80%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #95E5F5;
    color: white;
    font-family: 'Chunk Rethunk';
}