.buttons, .lecarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.particulier_button, .pro_button{
    border-radius: 10px;
    width: 20em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-family: 'Chunk Rethunk';
    background-color: #95E5F5;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
}

.particulier_button:hover, .pro_button:hover{
    text-decoration: none;
    color: white;
}

#myCarousel {
    font-family: 'Chunk Rethunk';
}

.carousel-caption {
    visibility: hidden;
}


.carousel-item-active{
    margin-top: 1.5em;
    width: 240px;
    height: 160px;
}

.carousel{
    position: absolute;
    margin-top: 1.5em;
    width: 30em;
    height: 320px;
}

.carousel-item figure {
	background: rgba(245, 191, 179, .7);
}
.carousel-item figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.carousel-item figure:hover img {
	opacity: 0.2;
}

.carousel-item figure:hover div {
	visibility: visible;
}

main .container-fluid{
    margin: auto;
    border-left: 23em dotted;
    border-right: 23em dotted;
}

main #myCarousel{
    z-index: 0;
}

.div_map{
    display: flex;
    align-items: center;
    justify-content: center;
}

.map{
    margin: auto;
    margin-bottom: 2em;
    border-radius: 10px;
}
