main{
    display: flex;
    align-items: center;
}

.particulier_button, .pro_button{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #95E5F5;
    color: white;
    font-family: 'Chunk Rethunk';
}

#myCarousel {
    font-family: 'Chunk Rethunk';
}

.carousel-caption {
    visibility: hidden;
}


.carousel-item-active{
    width: 240px;
    height: 160px;
}

.carousel{
    position: absolute;
    width: 30em;
    height: 320px;
}

.carousel-item figure {
	background: rgba(245, 191, 179, .7);
}
.carousel-item figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.carousel-item figure:hover img {
	opacity: 0.2;
}

.carousel-item figure:hover div {
	visibility: visible;
}

a:link{
    text-decoration: none;
    color: white; 
}

a:hover{
    text-decoration: none;
    color : white;
}