@font-face{
    font-family: "Chunk Rethunk";
    src: url("./chunk-rethunk.ttf");
}

body{
    font-family: 'Clear Sans Regular',Sans-serif;
    position: center;
    margin: 0;
    background-color: #FFEDD0;
}

a{
    text-decoration: none;
    color: white; 
}