body{
    font-family: 'Clear Sans Regular',Sans-serif;
    position: center;
    margin: 0;
    background-color: #FFEDD0;
}

@font-face{
    font-family: "Chunk Rethunk";
    src: url("./chunk-rethunk.ttf");
}
