body{
    font-family: "Chunk Rethunk",'Clear Sans Regular',Sans-serif;
    position: center;
    margin: 0;
    padding: 0;
    background-color: white;
}
    mark {
    background-color: #F5BFB3;
    color:#A6BDF5;
    font-family: 'Clear Sans Regular',Sans-serif;
    padding: 0 0.3em;
}

@font-face{
    font-family: "Chunk Rethunk";
    src: url("./chunk-rethunk.ttf");
}
@font-face {
    font-family: 'clear_sansregular';
    src: url('clearsans-regular-webfont.woff2') format('woff2'),
         url('clearsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
