body{
    font-family: 'Clear Sans Regular',Sans-serif;
    position: center;
    margin: 0;
}

header{
    background-color: #95E5F5;
    color: white;
    display: flex;
    align-items: center;
    top: 0;
}

nav{
    text-align: center;
    display: inline-flex;
    margin-left: 3em;
    width: 75%;
    height: 100;
    background-size: cover;
}

.logo{
    display: inline-block;
    margin-left: 1em;
    margin-top: .5em;
}

.Accueil, .Professionels, .Particuliers, .Valeurs, .Contact{
    display: inline-flex;
    margin: auto;
    text-align: center;
    height: 100%;
    padding: 2.5em;
    padding-top: .11em;
    padding-bottom: .1em;
    margin-left: 6em;
}

.Accueil:hover, .Professionels:hover, .Particuliers:hover, .Valeurs:hover, .Contact:hover{
    background-color: #A6BDF5;
}