body{
    font-family: 'Clear Sans Regular',Sans-serif;
    position : center;
    margin : 0;
}

header{
    background-color : #95E5F5;
    color : white;
    top : 0;
}

nav{
    display : inline-block;
    max-width: 75%;
}

#logo{
    display : inline-block;
    left : 1em;
    top : .5em;
}

#Accueil, #Professionels, #Particuliers, #Valeurs, #Contact{
    display : inline-block;
    padding-right : auto;
    padding-left : auto;
    padding-top: auto;
    padding-bottom: auto;
}

#Accueil:hover, #Professionels:hover, #Particuliers:hover, #Valeurs:hover, #Contact:hover{
    background-color : #A6BDF5;
}