body{
    font-family: 'Clear Sans Regular',Sans-serif;
    position : center;
    margin : 0;
}

header{
    background-color : #95E5F5;
    color : white;
    display : flex;
    align-items : center;
    top : 0;
}

nav{
    text-align: center;
    display : inline-flex;
    width: 75%;
    background-size: cover;
}

.logo{
    display : inline-block;
    margin-left : 1em;
    margin-top : .5em;
}

.Accueil, .Professionels, .Particuliers, .Valeurs, .Contact{
    display : inline-flex;
    margin : auto;
    text-align : center;
}

.Accueil:hover, .Professionels:hover, .Particuliers:hover, .Valeurs:hover, .Contact:hover{
    background-color : #A6BDF5;
}